<!-- ●footer START● -->
<div id="area_footer">
  <!-- ●footer navi START -->
  <div id="area_footer_navi">
    <div class="btn_return"><a href="#area_face"><img src="/img/site/common/btn_to_top.jpg" alt="Back to Top"></a></div>
    <div class="layout_navi">
      <dl id="area_footer_list">
        <dt>Properties</dt>
        <dd>
          <ul>
            <li><a href="#">Investment condominiums</a></li>
            <li><a href="#">Stores and offices for sale</a></li>
            <li><a href="#">Condominiums for sale</a></li>
            <li><a href="#">売りマンション</a></li>
            <li><a href="#">Buildings for sale</a></li>
            <li><a href="#">Houses with rooms for rent</a></li>
            <li><a href="#">Houses for rent</a></li>
            <li><a href="#">Warehouses,factories and others</a></li>
            <li><a href="#">Hotels for sale</a></li>
            <li><a href="#">Lands</a></li>
          </ul>
        </dd>
      </dl>
      <dl id="area_footer_list">
        <dt>Recommended investment properties</dt>
        <dd>
          <ul>
            <li><a href="#">Over 15% rate of return</a></li>
            <li><a href="#">Studio</a></li>
          </ul>
        </dd>
      </dl>
      <dl id="area_footer_list">
        <dt>Searched by city</dt>
        <dd>
          <ul>
            <li><a href="#">Minato-City</a></li>
            <li><a href="#">Shibuya-City</a></li>
            <li><a href="#">Meguro-City</a></li>
            <li><a href="#">Setagaya-City</a></li>
            <li><a href="#">Chiyoda-City</a></li>
            <li><a href="#">Shinagawa-City</a></li>
            <li><a href="#">Shinjuku-City</a></li>
            <li><a href="#">Chuo-City</a></li>
            <li><a href="#">Ota-City</a></li>
            <li><a href="#">Bunkyo-City</a></li>
          </ul>
        </dd>
      </dl>
      <dl id="area_footer_list">
        <dt>Searched by train line</dt>
        <dd>
          <ul>
            <li><a href="#">JR Yamanote Line</a></li>
            <li><a href="#">Tōkyō Metro Ginza Line</a></li>
            <li><a href="#">Tōkyō Metro Marunouchi Line</a></li>
            <li><a href="#">Tōkyō Metro Hibiya Line</a></li>
            <li><a href="#">Tōkyō Metro Namboku Line</a></li>
            <li><a href="#">Tōkyū Railway Tōyoko Line</a></li>
            <li><a href="#">Tōkyū Railway Denentoshi Line</a></li>
            <li><a href="#">Keiō Railway Keiō Line</a></li>
            <li><a href="#">Keiō Railway Inogashira Line</a></li>
            <li><a href="#">Odakyū Railway Odakyū Line</a></li>
          </ul>
        </dd>
      </dl>
      <dl id="area_footer_list">
        <dt>Corporate Information</dt>
        <dd>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Column</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Infomation</a></li>
            <li><a href="#">Site Map</a></li>
            <!--<li><a href="#">Visit us on Facebook</a></li>
            <li><a href="#">Follow us on Twitter</a></li>-->
            <li><a href="#">Link</a></li>
          </ul>
        </dd>
      </dl>
      <br class="clearfloat">
    </div>
  </div>
  <!-- ●footer navi END -->

  <!-- ●copyright START -->
  <div id="area_copyright">
    <div class="layout_copyright">
      Copyright &copy; 2014 Real estate investment JAPAN All rights reserved.
    </div>
  </div>
  <!-- ●copyright navi END -->
</div>
<!-- ●footer END● -->