@charset "utf-8";

body {
  background: #ffdfdf
}

#area_admin_main {
  margin: 15px auto 0;
  overflow: hidden;
  width: 1000px;
}

.tit_admin {
  font-size: 40px;
  margin-bottom: 20px;
}

.form_class {
  margin-bottom: 25px; 
}
