@charset "utf-8";

/******** main contents START ********/
/*---- index.html start ----*/
.area_column {
  border-bottom: 1px solid #aaa;
  height: 42px;
  padding: 0;
  width: 1000px;
}

.area_column .ico_triangle{
  float: left;
  width: 0;
  height: 0;
  margin:11px 0 0 15px;
  border: 10px solid transparent;
  border-left: 15px solid #336600;
}

.area_column .tit_column {
  float: left;
  color: #336600;
  font-size: 30px;
  height: 30px;
  padding: 0 0 0 0;
}

#detail {
  overflow: hidden;
  background: #f7f7f7;
  width: 1000px;
  padding: 20px;
  margin-bottom: 30px;
}

.area_column_td {
  background: #fff;
  width: 930px;
  padding: 15px;
}
/*---- index.html end ----*/
/******** main contents END ********/