@charset "utf-8";

#area_error {
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
  width: 975px;
  margin-bottom: 30px;
  padding: 10px;
}

#area_error .error_waku {
  border: 1px solid #eee;
  width: 945px;
  padding: 15px 15px 30px 15px;
}

#area_error .error_title {
  color: #d8358e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#area_error .maintenance {
  color: #007FFF;
}

#area_error .company {
  color: #ea8d8a;
  font-size: 14px;
}