@charset "utf-8";

/******** main contents START ********/
/*★★★list start★★★*/
/* search start */
#srh_rslt {
  background: #f7f5f1;
  border: solid 1px #c6b79c;
  padding: 13px;
  margin-bottom: 25px;
}

.tit_srh_detail {
  font-size: 17px;
  padding-bottom: 5px;
}

.srh_rslt_td1 {
  color: #d80000;
  padding: 5px 0;
  width: 80px;
}

.srh_rslt_td2 {
  padding: 5px 0 5px 5px;
}

.srh_rslt_td1_last {
  color: #d80000;
  padding: 5px 0 0;
  width: 80px;
}

.srh_rslt_td2_last {
  padding: 5px 0 0 5px;
}

.srh_rslt_td2_count {
  font-size: 12px;
}

.hide {
  display: none;
}
/* search end */

/* search result start */
#area_srh_rslt {
  background: #fff;
  padding: 0;
  margin-bottom: 10px;
  width: 1000px;
}

#area_srh_rslt .tit_srh_rslt1 {
  float: left;
  font-size: 20px;
  margin-bottom: 8px
}

#area_srh_rslt .tit_srh_rslt2 {
  float: right;
  font-size: 15px;
  padding-top: 8px
}

#area_srh_rslt .tit_srh_rslt2 {
  font-size: 16px;
}

.tit_srh_rslt2_select {
  margin-left: 10px;
  background: #FFFDF4;
  border: 2px solid #D2BA85;
  border-radius: 5px;
  color: #0C2245;
  font-size: 15px;
  height: 33px;
  line-height: 30px;
  text-align: left;
  text-indent: 5px;
  vertical-align: middle;
  width: 250px;
}

#area_srh_rslt .size25 {
  font-size: 25px;
}
/* search result end */

/* pager start */
.area_pager_next {
  width: 720px;
  font-size: 16px;
  margin: 0 auto 20px auto;
}

.open_page {
  padding: 10px 13px 8px;
  border:1px solid #7fb2cc;
  border-radius: 5px
}

.close_page  {
  padding: 10px 13px 8px;
  background: #fff;
  border:1px solid #fff;
  border-radius: 5px
}

.area_pager_next a:hover {
  padding: 10px 13px 8px;
  color: #fff;
  background: #bfd8e5;
  border:1px solid #bfd8e5;
  border-radius: 5px;
  text-decoration: none;
}
/* pager end */

/* serch list start */
#area_list {
  margin-bottom: 30px;
}

.area_list_table{
  width: 1000px;
}

.area_list_td {
  background: #a7987b;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  border-right: dotted 1px #fff;
}

.area_list_td1 {
  padding: 10px 10px 5px;
  vertical-align: middle;
  border-right: dotted 1px #7f8c8d;
  border-bottom: dotted 1px #7f8c8d;
}

.area_list_td1_last {
  padding: 10px 10px 5px;
  vertical-align: middle;
  border-bottom: dotted 1px #7f8c8d;
}

.area_list_td2 {
  background: #fefce4;
  padding: 10px 10px 5px;
  vertical-align: middle;
  border-right: dotted 1px #7f8c8d;
  border-bottom: dotted 1px #7f8c8d;
}

.area_list_td2_last {
  background: #fefce4;
  padding: 10px 10px 5px;
  vertical-align: middle;
  border-bottom: dotted 1px #7f8c8d;
}

.area_list_td_img {
  width: 80px;
}
/* serch list end */

/* advanced search title start */
.area_srh_detail {
  background: #fff;
  border-bottom: 1px solid #aaa;
  height: 42px;
  padding: 0;
  width: 1000px;
}

.area_srh_detail .ico_triangle{
  float: left;
  width: 0;
  height: 0;
  margin:11px 0 0 15px;
  border: 10px solid transparent;
  border-left: 15px solid #336600;
}

.area_srh_detail .tit_srh_detail {
  float: left;
  color: #336600;
  font-size: 30px;
  height: 30px;
  padding: 0 0 0 0;
}
/* advanced search title end */
/*★★★list end★★★*/

/*★★★detail start★★★*/
#property_detail {
  clear: both;
  overflow: hidden;
  background: #f7f7f7;
  width: 1000px;
  padding: 20px;
  margin-bottom: 15px;
}

.property_detail {
  margin-bottom: 20px;
}

.property_detail_td1 {
  background: #a7987b;
  border-bottom: dotted 1px #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 10px 5px;
  vertical-align: middle;
  width: 460px;
}

.property_detail_td2 {
  background: #a7987b;
  border-bottom: dotted 1px #fff;
  color: #fff;
  padding: 10px 10px 5px;
  vertical-align: middle;
  width: 150px;
}

.property_detail_td3 {
  border-bottom: dotted 1px #aaa;
  background: #fff;
  padding: 10px 10px 5px;
  vertical-align: middle;
}

.property_detail_td2_last {
  background: #a7987b;
  color: #fff;
  padding: 10px 10px 5px;
  vertical-align: middle;
  width: 150px;
}

.property_detail_td3_last {
  background: #fff;
  padding: 10px 10px 5px;
  vertical-align: middle;
}

.property_detail_td3 .price {
  color: #ff4c4c;
  font-size: 20px;
}

.property_detail_td3 .yield {
  color: #0040ff;
  font-size: 20px;
}

.property_detail_img_td1 {
  background: #a7987b;
  color: #fff;
  font-size: 16px;
  padding: 7px 10px 5px;
  vertical-align: middle;
  width: 940px;
}

.property_detail_img_td2 {
  padding-top: 15px;
  vertical-align: middle;
  text-align: center;
  width: 940px;
}

.property_detail_img_td1 .maisu {
  color: #ffffbf;
  font-size: 13px;
}

#area_list2 {
  margin: 15px 0 30px;
}

.btn_contact {
  margin: 30px 0 20px 0;
  text-align: center;
}

.btn_contact a{
  width:200px;
  height: 20px;
  font-size: 16px;
  padding: 10px 16px 10px 16px;
  background:#3498db;
  color:#ffffff;
  text-align:center;
  display:block;
  text-decoration:none;
}

.btn_contact a:hover{
  text-decoration:none; 
  background:#1980b9;
  color:#ffffff;
}

.btn_contact a{
  margin:0 0 5px 0;
  display:inline-block;
  border-radius: 5px;
  box-shadow:0 5px #1980b9;
  border-bottom:1px solid #1980b9;
}

.btn_contact a:hover{
  margin:5px 0 0 0;
  box-shadow:none;
}
/*★★★detail end★★★*/
/******** main contents END ********/