<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>JPFS | Japan property for sale</title>
<meta name="keywords" content="real estate">
<meta name="description" content="real estate">
<link rel="shortcut icon" href="../img/site/common/favicon.ico">
<link rel="stylesheet" media="all" href="../css/reset.css">
<link rel="stylesheet" media="all" href="../css/common.css">
<link rel="stylesheet" media="all" href="../css/contact.css">
<!--[if lt IE 9]>
  <script src="../js/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
  <script src="../js/jquery-2.0.3.min.js"></script>
<![endif]-->
<script src="../js/modernizr.custom.min.js"></script>
<script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../js/jquery.common.js"></script>
<script src="../js/jquery.contact.js"></script>

<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
<![endif]-->
</head>

<body onload="initialize()">
{include file='header.html'}
<!-- ●main contents START● -->
<div id="area_main">
  <div class="area_contact">
    <div class="ico_triangle"></div>
    <div class="tit_contact">
      Contact us
    </div>
    <br class="clearfloat">
  </div>

  <!-- 詳細検索 srh下のindex.htmlと纏める -->
  <div id="detail">
      <div>
        <table class="tel_table">
          <tr>
            <td class="area_contact_tel1">
              <span class="gold">Call, fax or email us<br>
              We’re happy to hear from you.</span><br><br>

              <span class="big">Real estate investment JAPAN, Singapore Headquarters</span><br>
              <span class="green">Tel:</span> +65 XXXX XXXX<br>
              <span class="green">Fax:</span> +65 XXXX XXXX<br>
              <span class="green">Email:</span> <a href="mailto:XXXX@XXXX.jp">XXXX@XXXX.jp</a><br>
              <span class="green">Office Hours:</span> 10:00 AM - 19:00 PM PST<br>
              <span class="green">Closed:</span> Wednesday<br><br>

              <span class="big">Real estate investment JAPAN, Japan Headquarters</span><br>
              <span class="green">Tel:</span> +65 XXXX XXXX<br>
              <span class="green">Fax:</span> +65 XXXX XXXX<br>
              <span class="green">Email:</span> <a href="mailto:XXXX@XXXX.jp">info@concierent.jp</a><br>
              <span class="green">Office Hours:</span> 10:00 AM - 19:00 PM PST
              <span class="green">Closed:</span> Wednesday<br>
            </td>
          </tr>
        </table>

        <form name="form1" action="contact.php" method="post">
        <table class="mail_table">
        <tr>
            <td class="area_contact_list1">Property ID</td>
            <td class="area_contact_list2">
              <input type="text" name="id" value="{$id}" size="30" maxlength="30" class="area_contact_list_text1"><br>
              {if $id_msg != ""}<font color="#d80000">{$id_msg}</font>{/if}<br>
              <span class="size13 gold">This is the unique property number which is written on the detail pages. Please fill in the property ID if you have any questions on specific properties.</span>
            </td>
          </tr>
          <tr>
            <td class="area_contact_list1">Name <span class="need">*</span></td>
            <td class="area_contact_list2">
              <input type="text" name="name" value="{$name}" size="50" maxlength="50" class="area_contact_list_text2"><br>
              {if $name_msg != ""}<font color="#d80000">{$name_msg}</font>{/if}
            </td>
          </tr>
          <tr>
            <td class="area_contact_list1">Email <span class="need">*</span></td>
            <td class="area_contact_list2">
              <input type="text" name="email" value="{$email}" size="50" maxlength="50" class="area_contact_list_text3"><br>
              {if $email_msg != ""}<font color="#d80000">{$email_msg}</font>{/if}<br>
              <span class="size13 gold">If you're using a Yahoo!, Gmail, or another free-service, our emails may be moved to trash bin or deleted. Please confirm your email settings.</span>
            </td>
          </tr>
          <tr>
            <td class="area_contact_list1">Tel</td>
            <td class="area_contact_list2">
              <input type="text" name="tel" value="{$tel}" size="50" maxlength="50" class="area_contact_list_text3">
            </td>
          </tr>
          <tr>
            <td class="area_contact_list1">Preferred method of contact</td>
            <td class="area_contact_list2">
              <label class="radio_label_default1"><input type="radio" name="contact" value="0" class="radio_input">No preference</label>
              <label class="radio_label1"><input type="radio" name="contact" value="1" class="radio_input">Tel</label>
              <label class="radio_label1"><input type="radio" name="contact" value="2" class="radio_input">Email</label>
            </td>
          </tr>
          <tr>
            <td class="area_contact_list1">Address</td>
            <td class="area_contact_list2">
              <input type="text" name="address1" value="{$address1}" size="50" maxlength="50" class="area_contact_list_text3"><br>
              <input type="text" name="address2" value="{$address2}" size="50" maxlength="50" class="area_contact_list_text4">
            </td>
          </tr>
          <tr>
            <td class="area_contact_list1">Message <span class="need">*</span></td>
            <td class="area_contact_list2">
              <textarea name="message" value="{$message_msg}" class="area_contact_list_textarea"></textarea><br>
              {if $message_msg != ""}<font color="#d80000">{$message_msg}</font>{/if}
            </td>
          </tr>
          <tr>
            <td colspan="2"><p class="red">※Fields marked with an asterisk * are required</p></td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="btn_contact_next"><a href="send.php">Send</a></p>
            </td>
          </tr>
        </table>
        </form>
        <div class="clearfloat"></div>
      </div>
    </div>



</div>
<!-- ●main contents END● -->
{include file='footer.html'}
</body>
</html>
