#### wwwなしで統一 ####
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.japan-rei\.com
RewriteRule ^(.*)$ http://japan-rei.com/$1 [R=301,L]


#### メンテナンス画面表示 ####
<IfModule mod_rewrite.c>
  # Rewite機能のOn/Off
  RewriteEngine Off
  # ドキュメントルートの画像,js,cssファイルはリダイレクトから除外
  RewriteCond %{REQUEST_FILENAME} !(\.(jpg|jpeg|gif|png|js|css))$
  # 503.phpがあった場合だけメンテナンスモードにする
  RewriteCond %{DOCUMENT_ROOT}/../error/503.php -f
  # 503.phpはリダイレクトから除外
  RewriteCond %{REQUEST_URI} !=/error/503.php
  # メンテナンス時の作業者のIPを除外(除外したいIPを指定)
#  RewriteCond %{REMOTE_ADDR} !=221.253.233.43
  # 503レスポンスを返す
  RewriteRule ^.*$ - [R=503,L]
</IfModule>

<IfModule mod_headers.c>
  # メンテナンス終了時間をクローラーに伝える(メンテナンス終了時間を指定)
  # GMT時間に合わせるため終了シンガポール時間-8時間をセットする
#  Header set Retry-After "Fri, 03 Oct 2014 09:27:00 GMT"
</IfModule>

